/*-- -------------------------- -->
<---       Color Schemes        -->
<--- -------------------------- -*/
/*-- -------------------------- -->
<---        Breakpoints         -->
<--- -------------------------- -*/
/*-- -------------------------- -->
<---          Spacing           -->
<--- -------------------------- -*/
.hero { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 5vh 6rem; height: 110vh; background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 54, 47, 0)), to(rgba(24, 24, 24, 0.95))), url(../../public/hero.jpg); background-image: linear-gradient(to bottom, rgba(48, 54, 47, 0), rgba(24, 24, 24, 0.95)), url(../../public/hero.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; }
@media only screen and (max-width: 75em) { .hero { padding: 4rem; } }
@media only screen and (max-width: 56.25em) { .hero { padding: 0rem; } }
.heroHeaderContainer { background-color: rgba(0, 0, 0, 0.4); margin-top: 10rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 18rem; width: 60vw; max-width: 100rem; border-radius: 1rem; text-align: center; }
@media only screen and (max-width: 75em) { .heroHeaderContainer { width: 70vw; } }
@media only screen and (max-width: 56.25em) { .heroHeaderContainer { height: 11rem; width: 80vw; } }
@media only screen and (max-width: 37.5em) { .heroHeaderContainer { width: 90vw; } }
.heroHeader { color: white; font-size: 10rem; font-weight: 800; line-height: 1.6; }
@media only screen and (max-width: 75em) { .heroHeader { font-size: 8rem; } }
@media only screen and (max-width: 56.25em) { .heroHeader { font-size: 5rem; } }
@media only screen and (max-width: 37.5em) { .heroHeader { font-size: 4rem; } }
