@import 'variables';

.about {
  //Display
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 4rem;

  //Spacing
  padding: 16rem 6rem;
  height: fit-content;
  min-height: calc(100vh - 6rem);

  //Image 
  background-image: linear-gradient(to bottom,
      rgba($color-grey-dark, 0.4) 0%,
      rgba($color-grey-dark, 0.4) 80%,
      rgba($color-grey-dark, 1) 100%),
    url(../../public/river.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (max-width: $bp-large) {
    //Spacing
    padding: 16rem 4rem;
  }

  @media only screen and (max-width: $bp-medium) {
    //Display
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr 1fr 1fr 1fr;
    grid-gap: 0;

    //Spacing
    padding: 6rem 0rem;
  }

  &Box {
    //Display
    grid-row: 1 / span 4;
    grid-column: 1 / span 1;

    //Spacing
    width: 100%;
    max-width: 100rem;
    margin: auto;
    height: fit-content;
    padding: 3rem;

    //Color
    background-color: $color-grey-dark;
    box-shadow: 2px 2px 4px black;

    @media only screen and (max-width: $bp-medium) {
      //Display
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;

      //Spacing
      margin: 6rem 4rem 2rem;
      width: auto;
    }
  }

  &Header {
    //Display
    display: flex;
    align-items: center;

    //Spacing
    position: relative;
    margin-bottom: 6rem;

    //Font
    font-size: 7rem;

    //Color
    color: white;

    @media only screen and (max-width: $bp-medium) {
      //Font
      font-size: 5rem;
    }

    &:before {
      content: '';

      //Spacing
      position: absolute;
      width: 25%;
      height: 3px;
      bottom: -6px;
      left: 0;

      //Border 
      background-color: $color-accent-light;

      //Animations
      animation: 0.8s ease-in-out grow;
    }

    //Animation for the line
    @keyframes grow {
      from {
        width: 0;
      }

      to {
        width: 25%;
      }
    }
  }

  &Description {
    //Spacing
    padding: 2rem;

    //Font
    font-size: 2rem;
    text-indent: 2rem;
    line-height: 1.8;

    //Color
    color: white;

    @media only screen and (max-width: $bp-medium) {
      //Spacing
      font-size: 1.6rem;
      padding: 1rem 1.5rem;
    }
  }

  @mixin images {
    //Spacing
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4rem;
    max-width: 100rem;

    //Color
    box-shadow: 2px 2px 3px black;

    @media only screen and (max-width: $bp-medium) {
      //Spacing
      width: auto;
      height: 15rem;
      margin: 2rem 4rem;
    }

    span:nth-of-type(1) {
      //Spacing
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0.1rem .6rem;
      margin: 4.5rem 0;

      //Font 
      font-size: 1.2rem;
      font-weight: 400;

      //Color 
      color: rgba(white, .9);
      background-color: rgba(0, 0, 0, 0.7);
    }

    span:nth-of-type(2) {
      //Spacing
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0.3rem 1rem;
      margin: 0.8rem 0;

      //Font
      font-size: 1.6rem;
      font-weight: 600;

      //Color 
      color: white;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  &Images {
    &1 {
      grid-row: 1 / span 1;
      background-image: url('../../public/about/1.jpg');
      @include images;

      @media only screen and (max-width: $bp-medium) {
        grid-row: 2 / span 1;
      }
    }

    &2 {
      grid-row: 2 / span 1;
      background-image: url('../../public/about/2.jpg');
      @include images;

      @media only screen and (max-width: $bp-medium) {
        grid-row: 3 / span 1;
      }
    }

    &3 {
      grid-row: 3 / span 1;
      background-image: url('../../public/about/3.jpg');
      @include images;

      @media only screen and (max-width: $bp-medium) {
        grid-row: 4 / span 1;
      }
    }

    &4 {
      grid-row: 4 / span 1;
      background-image: url('../../public/about/4.jpg');
      @include images;

      @media only screen and (max-width: $bp-medium) {
        grid-row: 5 / span 1;
      }
    }
  }
}