@import 'variables';
.Card {
  //Display
  position: relative;
  display: flex;
  flex-direction: column;

  //Spacing
  margin: 0 auto;
  min-height: 30rem;
  width: 28vw;

  @media only screen and (max-width: $bp-large) {
    //Spacing
    width: 44vw;
  }
  @media only screen and (max-width: $bp-medium) {
    //Spacing
    width: 94vw;
  }

  &Name {
    //Spacing
    margin: 0 auto;
    padding: 1rem 1rem 0;
    min-height: 5rem;
    height: fit-content;
    z-index: 200;

    //Font Styling
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;

    //Color Styling
    color: white;

    @media only screen and (max-width: 56.25em), only screen and (hover: none) {
      //Display
      display: none;
    }
  }

  &Back {
    &Name {
      //Spacing
      width: 100%;
      margin: 0 auto;
      padding: 1rem 1rem 0;

      //Font Styling
      font-size: 2.4rem;
      text-align: center;
      font-weight: 800;

      //Color Styling
      color: white;
    }
    &Cost {
      //Spacing
      margin: 0 auto;

      //Font Styling
      text-align: center;
      font-size: 1.8rem;

      //Color Styling
      color: lightgray;
    }
    &Contact {
      //Spacing
      margin: 0 auto;

      //Font Styling
      text-align: center;
      font-size: 1.6rem;

      //Color Styling
      color: lightgray;
    }
    &Hours {
      //Spacing
      margin: 0 auto;

      //Font Styling
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;

      //Color Styling
      color: lightgray;

      ul li {
        //Font Styling
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 300;
      }
    }
  }

  &Side {
    //Spacing
    position: absolute;
    width: 100%;

    //Image Styling
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);

    //Border Styling
    border-radius: $default-border-radius;

    //Animations
    transition: all 0.8s ease;

    &Front {
      //Image Styling
      background-image: linear-gradient(
        to right bottom,
        rgba(30, 30, 30, 1),
        rgba(10, 10, 10, 1)
      );
    }

    &Back {
      //Display
      display: flex;
      flex-wrap: wrap;

      //Spacing
      height: 100%;
      transform: rotateY(180deg);

      //Color Styling
      background-image: linear-gradient(
        to right bottom,
        rgba(40, 40, 40, 1),
        rgba(20, 20, 20, 1)
      );
      &Left {
        //Display
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        //Spacing
        width: 60%;
        padding: 1rem 1rem 3rem;

        //Font Styling
        word-wrap: break-word;

        @media only screen and (max-width: $bp-largest) {
          //Spacing
          width: 50%;
        }
      }
      &Right {
        //Spacing
        width: 40%;
        padding-right: 1rem;

        @media only screen and (max-width: $bp-largest) {
          //Spacing
          width: 50%;
        }
      }
    }
  }

  &Image {
    //Spacing
    height: 100%;

    //Image Styling
    object-fit: cover;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: ellipse(150% 100% at 50% 0%);

    &Container {
      //Spacing
      height: 24rem;
      position: relative;
      overflow: hidden;
    }
  }

  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    //Spacing
    height: auto;
    max-width: 60rem;

    //Color Styling
    background-color: $color-grey-dark;

    //Border Styling
    border-radius: $default-border-radius;
    box-shadow: $default-box-shadow;

    &Side {
      //Spacing
      height: auto;
      position: relative;

      //Border Styling
      box-shadow: none;

      //Animations
      transition: none;

      &Front {
        //Spacing
        margin-bottom: -9rem;
      }

      &Back {
        //Spacing
        width: 100%;
        padding: 7rem 0 1rem;

        //Color Styling
        background-color: rgb(40, 40, 40);

        //Border Styling
        border-radius: 0 0 $default-border-radius $default-border-radius;
        clip-path: polygon(0 15%, 100% 5%, 100% 100%, 0 100%);

        //Animations
        transform: rotateY(0);

        &Left {
          //Spacing
          width: 50%;
          padding: 2rem 0;
        }
        &Right {
          //Spacing
          width: 50%;
          padding: 2rem 0;
        }
      }
    }

    &:hover &SideFront {
      //Animations
      transform: rotateY(0) !important;
    }
  }

  &:hover &SideFront {
    //Animations
    transform: rotateY(-180deg);
  }

  &:hover &SideBack {
    //Animations
    transform: rotateY(0);
  }
}
