@import 'variables';

.explore {
  //Display
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  //Spacing
  padding: 0 6rem;
  height: 120vh;

  //Image 
  background-image: linear-gradient(to bottom,
      rgba($color-background, 0.35) 0%,
      rgba($color-background, 0.35) 50%,
      rgba($color-background, 1) 90%,
      rgba($color-background, 1) 100%),
    url(../../public/explore.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (max-width: $bp-large) {
    //Spacing
    padding: 4rem 4rem 0;
  }

  @media only screen and (max-width: $bp-medium) {
    //Spacing
    padding: 0rem;
  }

  &HeaderContainer {
    //Display
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //Spacing
    margin-top: 15rem;

    //Font 
    text-align: center;

    //Border 
    border-radius: $default-border-radius-sm;

    @media only screen and (max-width: $bp-medium) {
      //Spacing
      margin-top: 20vh;
    }
  }

  &Header {
    //Font 
    font-size: clamp(6rem, 8vw, 14rem);
    font-family: 'Playfair', serif;
    font-weight: 300;
    line-height: 1.6;
    padding: 1.5rem 5rem;

    //Color 
    color: $color-secondary;
    text-shadow: 1px 1px 1px black;

    //Border 
    border-radius: $default-border-radius-lg;
  }

  &>span {
    //Spacing
    position: absolute;
    margin: 95vh 0 0 2rem;
    top: 0;
    left: 0;

    //Font 
    font-size: 1.4rem;

    //Color 
    color: rgba(255, 255, 255, .6);
  }
}

.stateSelector {
  //Spacing
  margin: 10rem auto auto;

  //Border 
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);

  //Animations
  transition: all 0.1s;

  &:hover {
    //Spacing
    scale: 1.01;

    //Border 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
  }

  @media only screen and (max-width: $bp-large) {
    //Spacing
    margin: 4rem auto auto;
  }

  select {
    //Spacing
    margin: 0 auto;
    padding: 1rem 2rem;
    width: 50rem;

    //Font 
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 400;

    //Color 
    background-color: rgba($color-background, .95);
    color: $color-secondary;

    //Border 
    border: none;
    border-radius: 2px;

    @media only screen and (max-width: $bp-large) {
      //Spacing
      width: 60vw;
      margin: 0 auto;
    }

    @media only screen and (max-width: $bp-medium) {
      //Spacing
      width: 70vw;
    }

    @media only screen and (max-width: $bp-small) {
      //Spacing
      width: 80vw;

      //Font 
      font-size: 1.8rem;
    }
  }
}

.park {
  &Container {
    //Display
    display: flex;
    gap: 2rem 2rem;
    flex-wrap: wrap;

    //Spacing
    margin: 10rem 0 2rem;

    @media only screen and (max-width: 56.25em),
    only screen and (hover: none) {
      //Display
      gap: 6rem;
    }
  }

  &Card {
    //Display
    display: flex;
    flex-direction: column;

    //Spacing
    position: relative;
    margin: 0 auto;
    min-height: 30rem;
    width: 28vw;

    @media only screen and (max-width: $bp-large) {
      //Spacing
      width: 44vw;
    }

    @media only screen and (max-width: $bp-medium) {
      //Spacing
      width: 94vw;
    }
  }
}