@import 'variables';

.footer {
  //Spacing
  width: 100vw;
  height: fit-content;
  padding: 2rem 3rem;

  //Color Styling
  background-color: $color-grey-dark;

  @media only screen and (max-width: $bp-large) {
    //Spacing
    padding: 1rem;
  }

  &Box {
    //Display
    display: flex;
    justify-content: space-between;

    //Font Styling
    font-size: 1.8rem;
    align-items: flex-end;
    font-weight: 200;

    //Color Styling
    color: white;

    @media only screen and (max-width: $bp-large) {
      //Display
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      //Spacing
      height: 18rem;
    }
    @media only screen and (max-width: $bp-medium) {
      //Font Styling
      font-size: 1.3rem;
    }
  }
  &Copyright {
    @media only screen and (max-width: $bp-large) {
      //Spacing
      padding: 0.5rem 0;
    }

    a {
      //Font Styling
      text-decoration: underline;

      //Color Styling
      color: inherit;
    }
  }

  &Acknowledgment {
    @media only screen and (max-width: $bp-large) {
      //Spacing
      padding: 0.5rem 0;
    }
  }
}
