/*-- -------------------------- -->
<---       Color Schemes        -->
<--- -------------------------- -*/
/*-- -------------------------- -->
<---        Breakpoints         -->
<--- -------------------------- -*/
/*-- -------------------------- -->
<---          Defaults          -->
<--- -------------------------- -*/
.footer { width: 100vw; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; padding: 2rem 3rem; background-color: #181818; }
@media only screen and (max-width: 75em) { .footer { padding: 1rem; } }
.footerBox { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-size: 1.8rem; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; font-weight: 200; color: white; }
@media only screen and (max-width: 75em) { .footerBox { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 18rem; } }
@media only screen and (max-width: 56.25em) { .footerBox { font-size: 1.3rem; } }
@media only screen and (max-width: 75em) { .footerCopyright { padding: 0.5rem 0; } }
.footerCopyright a { text-decoration: underline; color: inherit; }
@media only screen and (max-width: 75em) { .footerAcknowledgment { padding: 0.5rem 0; } }
