@import 'variables';

.footer {
  //Spacing
  width: 100vw;
  padding: 2rem 3rem;

  //Color Styling
  background-color: $color-grey-dark;

  @media only screen and (max-width: $bp-large) {
    padding: 1rem;
  }

  &Box {
    //Display
    display: flex;
    justify-content: space-between;

    //Font Styling
    font-size: 1.4rem;

    //Color Styling
    color: white;

    @media only screen and (max-width: $bp-large) {
      //Display
      flex-direction: column;
      align-items: center;
    }
    @media only screen and (max-width: $bp-medium) {
      //Font Styling
      font-size: 1.3rem;
    }
    @media only screen and (max-width: $bp-small) {
      //Font Styling
      font-size: 1rem;
    }
  }
  &Copyright {
    @media only screen and (max-width: $bp-large) {
      //Spacing
      padding: 0.5rem 0;
    }

    a {
      text-decoration: underline;
      color: inherit;
    }
  }

  &Acknowledgment {
    @media only screen and (max-width: $bp-large) {
      //Spacing
      padding: 0.5rem 0;
    }
  }
}
