@import 'variables';
/*-- -------------------------- -->
<---     General Formatting     -->
<--- -------------------------- -*/

*,
*::before,
*::after {
  //Spacing
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //Spacing
  box-sizing: border-box;
  overflow-x: hidden;

  //Animations
  scroll-behavior: smooth;

  //Font Styling
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
}

body {
  //Spacing
  position: relative;
  width: 100vw;
  overflow-x: hidden;

  //Font Styling
  font-family: 'Montserrat', serif;
  line-height: 1.6;

  //Color Styling
  background-color: $color-grey-dark;
}

li {
  //Font Styling
  list-style: none;
}

a {
  //Font Styling
  text-decoration: none;
}

//Changes highlight coloring
::selection {
  //Color Styling
  background-color: $color-grey-light;
  color: #000;
}

/*-- -------------------------- -->
<---         Animations         -->
<--- -------------------------- -*/

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

/*-- -------------------------- -->
<---       Comment order        -->
<--- -------------------------- -*/
//Mixin
//Parent
//Display
//Spacing
//Font Styling
//Color Styling
//Image Styling
//Border Styling
//Animations
