/*-- -------------------------- -->
<---     General Formatting     -->
<--- -------------------------- -*/
*, *::before, *::after { margin: 0; padding: 0; -webkit-box-sizing: inherit; box-sizing: inherit; }

html { -webkit-box-sizing: border-box; box-sizing: border-box; overflow-x: hidden; scroll-behavior: smooth; font-size: 62.5%; }
@media only screen and (max-width: 112.5em) { html { font-size: 50%; } }

body { position: relative; width: 100vw; overflow-x: hidden; font-family: 'Montserrat', serif; line-height: 1.6; background-color: #181818; }

li { list-style: none; }

a { text-decoration: none; }

::-moz-selection { background-color: rgba(170, 139, 86, 0.75); color: #f7f2f7; }

::selection { background-color: rgba(170, 139, 86, 0.75); color: #f7f2f7; }

/*-- -------------------------- -->
<---         Animations         -->
<--- -------------------------- -*/
@-webkit-keyframes wiggle { 0%,
  7% { -webkit-transform: rotateZ(0); transform: rotateZ(0); }
  15% { -webkit-transform: rotateZ(-15deg); transform: rotateZ(-15deg); }
  20% { -webkit-transform: rotateZ(10deg); transform: rotateZ(10deg); }
  25% { -webkit-transform: rotateZ(-10deg); transform: rotateZ(-10deg); }
  30% { -webkit-transform: rotateZ(6deg); transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); transform: rotateZ(-4deg); }
  40%,
  100% { -webkit-transform: rotateZ(0); transform: rotateZ(0); } }
@keyframes wiggle { 0%,
  7% { -webkit-transform: rotateZ(0); transform: rotateZ(0); }
  15% { -webkit-transform: rotateZ(-15deg); transform: rotateZ(-15deg); }
  20% { -webkit-transform: rotateZ(10deg); transform: rotateZ(10deg); }
  25% { -webkit-transform: rotateZ(-10deg); transform: rotateZ(-10deg); }
  30% { -webkit-transform: rotateZ(6deg); transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); transform: rotateZ(-4deg); }
  40%,
  100% { -webkit-transform: rotateZ(0); transform: rotateZ(0); } }
/*-- -------------------------- -->
<---       Comment order        -->
<--- -------------------------- -*/
