@import 'variables';
/*-- -------------------------- -->
<---     General Formatting     -->
<--- -------------------------- -*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
  overflow-x: hidden;
  scroll-behavior: smooth;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%; //1rem = 8px
  }
}

body {
  background-color: $color-grey-dark;
  font-family: 'Montserrat', serif;
  line-height: 1.6;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

//Changes highlight coloring
::selection {
  background-color: $color-grey-light;
  color: #000;
}

/*-- -------------------------- -->
<---         Animations         -->
<--- -------------------------- -*/

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
