@import 'variables';

.hero {
  //Display
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //Spacing
  position: relative;
  padding: 0 10rem;
  min-height: calc(100vh - 6rem);
  height: 100%;

  //Image Styling
  background-image: linear-gradient(to bottom,
      rgba($color-grey-dark, 0.2) 0%,
      rgba($color-grey-dark, 0.2) 85%,
      rgba($color-grey-dark, 1) 100%),
    url(../../public/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (max-width: $bp-large) {
    //Spacing
    padding: 0 6rem;
  }

  @media only screen and (max-width: $bp-medium) {
    //Spacing
    padding: 0 4rem;

    //Image Styling
    background-image: none;
  }

  &Container {
    min-height: calc(100vh - 6rem);
    max-width: 200rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }


    &Left {
      //Diplay
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      //Spacing
      height: auto;
      width: 60%;

      //Border Styling
      border-radius: $default-border-radius;

      @media only screen and (max-width: $bp-large) {
        //Font Styling
        width: 54%;
      }

      @media only screen and (max-width: $bp-medium) {

        justify-content: center;

        //Spacing
        width: 100vw;
        min-height: calc(100vh - 6rem);
        padding: 4rem;

        // MOVE IMAGE TO JUST THE HERO
        // AND MOVE THE FEATURED PARKS BELOW

        //Image Styling
        background-image: linear-gradient(to bottom,
            rgba($color-grey-dark, 0.2) 0%,
            rgba($color-grey-dark, 0.2) 85%,
            rgba($color-grey-dark, 1) 100%),
          url(../../public/hero.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &Right {
      //Display
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      gap: 3rem 0;

      //Spacing
      height: 90%;
      min-height: calc(60vh - 6rem);
      width: 35%;

      @media only screen and (max-width: $bp-large) {
        //Spacing
        width: 45%;
      }

      @media only screen and (max-width: $bp-medium) {
        //Display
        align-items: center;
        margin-bottom: 10rem;

        //Spacing
        width: 100%;
      }
    }
  }

  &Header {
    //Font Styling
    font-size: clamp(8rem, 5vw, 20rem);
    font-weight: 400;
    text-shadow: 4px 4px 1px black;

    //Color Styling
    color: white;

    @media only screen and (max-width: $bp-largest) {
      //Font Styling
      // font-size: 14.5rem;
      text-shadow: 3px 3px 1px black;
    }

    @media only screen and (max-width: $bp-medium) {
      //Font Styling
      // font-size: 12rem;
    }

    @media only screen and (max-width: $bp-small) {
      //Font Styling
      // font-size: 6rem;
      text-shadow: 2px 2px 1px black;
    }
  }

  &Subheader {
    //Font Styling
    font-size: 4rem;
    font-weight: 400;
    font-style: italic;
    text-shadow: 2px 2px 2px black;

    //Color Styling
    color: white;
    opacity: 0.8;

    @media only screen and (max-width: $bp-largest) {
      //Font Styling
      font-size: 4rem;
    }

    @media only screen and (max-width: $bp-medium) {
      //Font Styling
      font-size: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
      //Font Styling
      font-size: 2.2rem;
    }
  }

  &Button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
    padding: 2rem 3rem;
    border-radius: .8rem;
    transition: all 0.3s ease-in-out;
    border: 2px solid white;
    width: fit-content;
    margin-top: 10rem;

    span {
      margin-left: 5px;
    }

    @media only screen and (max-width: $bp-largest) {
      //Font Styling
      font-size: 2.2rem;
      padding: 1.8rem 2.8rem;
    }

    @media only screen and (max-width: $bp-medium) {
      //Font Styling
      font-size: 2rem;
      padding: 1.6em 2.6rem;
    }

    @media only screen and (max-width: $bp-small) {
      //Font Styling
      font-size: 1.8rem;
      padding: 1.4rem 2rem;
    }

    &SVG {
      margin-left: 2rem;
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      stroke-width: 0;
      stroke: white;
      fill: white;

      @media only screen and (max-width: $bp-medium) {
        //Font Styling
        width: 2rem;
        height: 2rem;
      }
    }

    &:hover {
      scale: 1.05;
      transform: translateX(.6rem);
      color: white;
    }
  }

  &Carousel {
    position: relative;

    //Spacing
    z-index: 1;
    width: 100%;
    height: 100%;


    //Image Styling
    object-fit: cover;

    &Title {
      position: absolute;
      z-index: 3;
      bottom: 0;
      right: 0;
      color: white;
      font-size: 1.6rem;
      font-weight: 600;
      margin: 0.8rem 0;
      padding: 0.3rem 1rem;
      background-color: rgba(0, 0, 0, 0.7);
    }

    &Container {
      //Spacing
      position: relative;
      z-index: 1;
      height: auto;
      width: 100%;
      max-width: 55rem;

      //Color Styling
      box-shadow: 1px 1px 4px black;
    }
  }

  &>span {
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgba(255, 255, 255, .4);
    font-size: 1.4rem;
    margin: 0 0 3rem 2rem;

    @media only screen and (max-width: $bp-medium) {
      top: 0;
      margin: 90vh 0 0 2rem;
    }
  }
}