@import 'variables';
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba($color-grey-dark, 0.8) 0%,
      rgba($color-grey-dark, 0) 20%,
      rgba($color-grey-dark, 0) 80%,
      rgba($color-grey-dark, 1) 100%
    ),
    url(../../public/hero.jpg);
  background-color: $color-accent-light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (max-width: $bp-large) {
    //Spacing
    padding: 4rem 4rem 0;
  }
  @media only screen and (max-width: $bp-medium) {
    //Spacing
    padding: 0rem;
  }

  &HeaderContainer {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $default-border-radius;
    text-align: center;
  }

  &Header {
    color: white;
    font-size: 20rem;
    font-weight: 300;
    line-height: 1.6;

    @media only screen and (max-width: $bp-largest) {
      //Spacing
      font-size: 14rem;
    }
    @media only screen and (max-width: $bp-medium) {
      //Spacing
      font-size: 12rem;
    }
    @media only screen and (max-width: $bp-small) {
      //Spacing
      font-size: 6rem;
    }
  }
  &Subheader {
    color: $color-grey-light;
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.8;
    font-style: italic;

    @media only screen and (max-width: $bp-largest) {
      //Spacing
      font-size: 4rem;
    }
    @media only screen and (max-width: $bp-medium) {
      //Spacing
      // padding-bottom: 3rem;
      font-size: 3rem;
    }
    @media only screen and (max-width: $bp-small) {
      //Spacing
      font-size: 2.2rem;
    }
  }
}
.stateSelector {
  margin: 10rem auto auto;
  border-radius: $default-border-radius;
  border: 1px solid $color-grey;
  box-shadow: $default-box-shadow;
  transition: all 0.1s;
  &:hover {
    box-shadow: $default-box-shadow-hover;
    scale: 1.02;
  }

  @media only screen and (max-width: $bp-large) {
    //Spacing
    margin: 4rem auto auto;
  }

  select {
    background-color: $color-grey-dark;

    color: white;
    font-size: 2rem;
    border: none;
    padding: 1rem 2rem;
    width: 50rem;
    border-radius: $default-border-radius;
    margin: 0 auto;
    letter-spacing: 0.1rem;
    font-weight: 400;

    @media only screen and (max-width: $bp-large) {
      //Spacing
      width: 60vw;
      margin: 0 auto;
    }
    @media only screen and (max-width: $bp-medium) {
      //Spacing
      width: 70vw;
    }
    @media only screen and (max-width: $bp-small) {
      //Spacing
      width: 80vw;

      font-size: 1.8rem;
    }
  }
}

.park {
  &Container {
    display: flex;
    gap: 2rem 2rem;
    flex-wrap: wrap;
    margin: 10rem 0 2rem;

    @media only screen and (max-width: 56.25em), only screen and (hover: none) {
      gap: 6rem;
    }
  }
  &Card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 30rem;
    width: 28vw;

    @media only screen and (max-width: $bp-large) {
      width: 44vw;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 94vw;
    }
  }
}
