@import 'variables';
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 6rem 0 6rem;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba($color-grey-dark, 0.3),
      rgba($color-grey-dark, 1)
    ),
    url(../../public/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (max-width: $bp-large) {
    //Spacing
    padding: 4rem 4rem 0;
  }
  @media only screen and (max-width: $bp-medium) {
    //Spacing
    padding: 0rem;
  }

  &HeaderContainer {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $default-border-radius;
    text-align: center;
  }

  &Header {
    color: white;
    font-size: 20rem;
    font-weight: 300;
    line-height: 1.6;

    @media only screen and (max-width: $bp-largest) {
      //Spacing
      font-size: 14rem;
    }
    @media only screen and (max-width: $bp-medium) {
      //Spacing
      font-size: 12rem;
    }
    @media only screen and (max-width: $bp-small) {
      //Spacing
      font-size: 6rem;
    }
  }
  &Subheader {
    color: $color-grey-light;
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.8;
    font-style: italic;

    @media only screen and (max-width: $bp-largest) {
      //Spacing
      font-size: 4rem;
    }
    @media only screen and (max-width: $bp-medium) {
      //Spacing
      // padding-bottom: 3rem;
      font-size: 3rem;
    }
    @media only screen and (max-width: $bp-small) {
      //Spacing
      font-size: 2.2rem;
    }
  }
}
.stateSelector {
  margin: 10rem auto auto;
  border-radius: $default-border-radius;
  border: 1px solid $color-grey;
  box-shadow: $default-box-shadow;

  @media only screen and (max-width: $bp-large) {
    //Spacing
    margin: 4rem auto auto;
  }

  select {
    background-color: $color-grey-dark;

    color: white;
    font-size: 2rem;
    border: none;
    padding: 1rem 2rem;
    width: 50rem;
    border-radius: $default-border-radius;
    margin: 0 auto;
    letter-spacing: 0.1rem;
    font-weight: 400;

    @media only screen and (max-width: $bp-large) {
      //Spacing
      width: 60vw;
      margin: 0 auto;
    }
    @media only screen and (max-width: $bp-medium) {
      //Spacing
      width: 70vw;
    }
    @media only screen and (max-width: $bp-small) {
      //Spacing
      width: 80vw;

      font-size: 1.8rem;
    }
  }
}

.park {
  &Container {
    display: flex;
    gap: 2rem 2rem;
    flex-wrap: wrap;
    margin: 10rem 0;

    @media only screen and (max-width: 56.25em), only screen and (hover: none) {
      gap: 6rem;
    }
  }

  &Card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 30rem;
    width: 28vw;

    @media only screen and (max-width: $bp-large) {
      width: 44vw;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 94vw;
    }

    &Name {
      margin: 0 auto;
      padding: 1rem 1rem 0;
      text-align: center;
      font-size: 1.8rem;
      color: white;
      z-index: 200;
      min-height: 5rem;
      height: fit-content;

      @media only screen and (max-width: 56.25em),
        only screen and (hover: none) {
        display: none;
      }
    }

    &Back {
      &Name {
        width: 100%;
        margin: 0 auto;
        padding: 1rem 1rem 0;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 800;
        color: white;
      }
      &Cost {
        margin: 0 auto;
        text-align: center;
        font-size: 1.8rem;
        color: lightgray;
      }
      &Contact {
        margin: 0 auto;
        text-align: center;
        font-size: 1.6rem;
        color: lightgray;
      }
      &Hours {
        margin: 0 auto;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        color: lightgray;

        ul li {
          font-size: 1.6rem;
          line-height: 2.2rem;
          font-weight: 300;
        }
      }
    }

    &Side {
      transition: all 0.8s ease;
      position: absolute;

      width: 100%;
      backface-visibility: hidden;
      border-radius: $default-border-radius;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgba(black, 0.15);

      &Front {
        background-image: linear-gradient(
          to right bottom,
          rgba(20, 20, 20, 0.9),
          rgba(10, 10, 10, 0.9)
        );
      }

      &Back {
        display: flex;
        flex-wrap: wrap;
        transform: rotateY(180deg);
        height: 100%;
        background-image: linear-gradient(
          to right bottom,
          rgba(40, 40, 40, 0.95),
          rgba(10, 10, 10, 0.95)
        );
        &Left {
          width: 60%;
          padding: 1rem 1rem 3rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          word-wrap: break-word;

          @media only screen and (max-width: $bp-largest) {
            width: 50%;
          }
        }
        &Right {
          width: 40%;
          padding-right: 1rem;

          @media only screen and (max-width: $bp-largest) {
            width: 50%;
          }
        }
      }
    }

    &Image {
      object-fit: cover;
      background-size: cover;
      height: 100%;
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      clip-path: ellipse(150% 100% at 50% 0%);

      &Container {
        height: 24rem;
        position: relative;
        overflow: hidden;
      }
    }

    @media only screen and (max-width: 56.25em), only screen and (hover: none) {
      height: auto;
      border-radius: $default-border-radius;
      background-color: $color-grey-dark;
      box-shadow: $default-box-shadow;
      max-width: 60rem;

      &Side {
        height: auto;
        position: relative;
        box-shadow: none;
        transition: none;

        &Front {
          margin-bottom: -9rem;
        }

        &Back {
          padding: 7rem 0 1rem;
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 5%, 100% 100%, 0 100%);
          background-color: rgb(40, 40, 40);
          width: 100%;
          border-radius: 0 0 $default-border-radius $default-border-radius;

          &Left {
            width: 50%;
            padding: 2rem 0;
          }
          &Right {
            width: 50%;
            padding: 2rem 0;
          }
        }
      }

      &:hover &SideFront {
        transform: rotateY(0) !important;
      }
    }

    &:hover &SideFront {
      transform: rotateY(-180deg);
    }

    &:hover &SideBack {
      transform: rotateY(0);
    }
  }
}
