@import 'variables';

.header {
  //Display
  display: flex;
  justify-content: center;

  //Spacing
  position: fixed;
  width: 100%;
  z-index: 200;

  //Font Styling
  text-decoration: none;

  //Color Styling
  background-color: $background-color-dark;

  //Animation
  transition: box-shadow 0.2s;

  @media only screen and (max-width: $bp-small) {
    //Spacing
    z-index: 10;
  }

  &Logo {
    margin: auto 3rem;
    padding: 1rem;
    width: 4rem;
    height: 4rem;

    background-image: url('../../public/logo.png');
    background-size: contain;
    background-repeat: no-repeat;

    //Font Styling
    font-size: 2rem;
    font-weight: 600;

    //Animations
    transition: all 0.3s;

    //Color Styling
    color: white;

    &:hover {
      transform: scale(1.1);
    }

    span {
      font-size: 1.8rem;
      margin: auto -1.8rem;
    }
  }

  &Box {
    //Display
    display: flex;
    flex-direction: row-reverse;

    //Spacing
    width: 100%;
  }

  &__nav {
    //Display
    display: flex;
    align-items: center;
    height: 6rem;

    & * {
      & button {
        @media only screen and (max-width: $bp-large) {
          //Spacing
          margin-right: 3rem;
        }
        @media only screen and (max-width: $bp-small) {
          //Spacing
          margin-right: 0;
          margin-left: 0;
        }
      }

      & a,
      & Link {
        //Spacing
        margin-right: 3rem;
        padding: 0.5rem 1rem;
        position: relative;

        //Font Styling
        font-size: 2rem;
        font-weight: 600;

        //Animations
        transition: all 0.1s;

        //Color Styling
        color: white;

        // Hover Lines
        &:before {
          content: '';

          //Spacing
          position: absolute;
          width: 0%;
          height: 1px;
          bottom: 1px;

          //Border Styling
          border-bottom: 3px solid $color-primary;

          //Animations
          transition: width 0.3s;
        }

        &:hover:before {
          //Spacing
          width: 30%;
        }

        @media only screen and (max-width: $bp-medium) {
          //Spacing
          margin-right: 3rem;
        }
      }
    }
  }
}
