@import 'variables';

.header {
  //Display
  display: flex;
  justify-content: space-between;
  align-items: center;

  //Spacing
  width: 100%;
  height: 6rem;
  z-index: 200;

  //Font Styling
  text-decoration: none;

  //Color Styling
  background-color: $color-grey-dark;

  //Animation
  transition: box-shadow 0.2s;

  @media only screen and (min-width: $bp-large) {
    //Spacing
    margin: 0 auto;
    max-width: 200rem;
  }

  &Logo {
    margin: 0.5rem 3rem;

    //Color Styling
    width: 7.5rem;
    height: 5rem;

    //Image Styling
    background-image: url('../../public/logo-name.png');
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      animation: wiggle 1s linear;
    }

    @media only screen and (max-width: $bp-small) {
      //Spacing
      margin: 0.5rem 2rem;
      width: 7.5rem;
      height: 5rem;
    }

    @keyframes wiggle {

      0%,
      14% {
        transform: rotateZ(0);
      }

      30% {
        transform: rotateZ(-13deg);
      }

      40% {
        transform: rotateZ(8deg);
      }

      50% {
        transform: rotateZ(-8deg);
      }

      60% {
        transform: rotateZ(4deg);
      }

      65% {
        transform: rotateZ(-2deg);
      }

      80% {
        transform: rotateZ(0);
      }
    }
  }

  &__nav {
    //Display
    display: flex;
    align-items: center;
    margin: 0;

    & * {
      & button {
        @media only screen and (max-width: $bp-large) {
          //Spacing
          margin-right: 3rem;
        }

        @media only screen and (max-width: $bp-small) {
          //Spacing
          margin-right: 0;
          margin-left: 0;
        }
      }

      & a,
      & Link {
        //Spacing
        margin-right: 1rem;
        padding: 1.4rem 2.6rem;
        position: relative;

        //Font Styling
        font-size: 1.6rem;
        font-weight: 600;

        //Animations
        transition: all 0.1s;

        //Color Styling
        color: $color-grey-light;
        // background-color: $color-accent;
        border-radius: 8px;

        // Hover Lines
        &:before {
          content: '';

          //Spacing
          position: absolute;
          width: 0%;
          height: 1px;
          bottom: 9px;

          //Border Styling
          border-bottom: 2px solid $color-accent-light;

          //Animations
          transition: width 0.4s;
        }

        &:hover:before {
          //Spacing
          width: 24%;
        }

        @media only screen and (max-width: $bp-medium) {
          //Font Styling
          font-size: 1.8rem;
        }

        @media only screen and (max-width: $bp-small) {
          //Spacing
          margin-right: 0.5rem;

          //Font Styling
          font-size: 1.6rem;
          padding: 1rem 1.5rem;
        }
      }
    }
  }
}