@import 'variables';

.park {
  //Spacing
  position: relative;

  // CAROUSEL OF IMAGES PROVIDED BY NPS API
  &Image {
    //Spacing
    z-index: 1;

    //Image Styling
    object-fit: cover;

    &Container {
      //Spacing
      position: relative;
      width: 100vw;
      height: 80vh;
      z-index: 1;

      //Color Styling
      background-color: $color-grey-dark;

      & a span {
        //Display
        scale: 3;

        //Color Styling
        background-color: rgba(0, 0, 0, 0.6);

        //Border Styling
        border-radius: 3px;
      }
    }
  }

  // CURVED SVG BELOW THE IMAGE
  &Divider {
    //Spacing
    position: absolute;
    bottom: 1;
    left: 1;
    z-index: 2;
    width: 100%;
    margin-top: calc(-50px + 2px);
    overflow: hidden;

    // DECREASES CURVE FOR SMALLER SCREENS
    @media only screen and (max-width: $bp-medium) {
      //Spacing
      margin-top: calc(-20px + 2px);
    }

    & svg {
      //Display
      display: block;

      //Spacing
      position: relative;
      width: calc(100% + 1.3px);
      height: 50px;

      @media only screen and (max-width: $bp-medium) {
        //Spacing
        height: 20px;
      }
    }

    &Fill {
      //Color Styling
      fill: $color-background;
    }
  }

  // FLOATING PARK TITLE
  &Name {
    //Spacing
    position: absolute;
    margin: -180px auto 0;
    padding: 0 5vw 0;
    width: 100%;
    z-index: 2;

    //Font Styling
    font-family: 'Playfair', serif;
    font-weight: 900;
    font-size: clamp(5.5rem, 3.5vw, 11rem);
    text-align: center;
    text-shadow: $text-outline-dark;
    //Color Styling
    color: white;

    @media only screen and (max-width: $bp-medium) {
      //Spacing
      padding: 0.5rem 1rem;
      margin: -200px auto 100px;
    }
  }

  // PRICE, LOCATION, AND PHONE INFO
  &Info {
    //Display
    display: flex;
    justify-content: space-around;

    //Spacing
    width: fit-content;
    height: 20vh;
    margin: 0 auto;

    //Font Styling
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
      //Spacing
      width: 100vw;
      min-width: fit-content;
    }

    @media only screen and (max-width: $bp-smallest) {
      //Display
      flex-wrap: wrap;
      justify-content: center;
    }

    &Item {
      //Spacing
      margin: auto 0;
      padding: 3rem 4rem;
      width: fit-content;
      min-width: 35rem;

      //Font Styling
      white-space: nowrap;
      text-align: center;

      //Color Styling
      color: white;
      text-shadow: 1px 1px 1px black;


      @media only screen and (max-width: $bp-medium) {
        //Display
        align-self: center;

        //Spacing
        width: 33%;
        margin: 1rem;
        padding: 2rem 0;
        min-width: 0;
      }

      @media only screen and (max-width: $bp-small) {
        //Spacing
        padding: 1rem;
      }

      h4 {
        //Font Styling
        font-size: 2.2rem;
        font-weight: 600;
        text-align: center;
      }

      p {
        //Spacing
        margin: 0;
        padding: 0;

        //Font Styling
        font-size: 2rem;
        line-height: 1.2;
        text-align: center;
        text-shadow: none;
        text-shadow: 1px 1px 1px black;

        @media only screen and (max-width: $bp-small) {
          //Font Styling
          font-size: 1.6rem;
        }
      }

      a {
        //Font Styling
        font-size: 2rem;
        line-height: 1.2;
        text-align: center;
        text-shadow: none;
        text-decoration: underline;
        text-decoration-color: $color-accent-light;
        text-underline-offset: 3px;

        //Color Styling
        color: inherit;
        text-shadow: 1px 1px 1px black;

        @media only screen and (max-width: $bp-small) {
          //Font Styling
          font-size: 1.6rem;
        }
      }
    }
  }

  &Warning {
    //Display
    display: flex;
    justify-content: space-around;

    //Spacing
    width: fit-content;
    margin: 0 auto 5rem;

    @media only screen and (max-width: $bp-medium) {
      //Spacing
      width: 80vw;
      min-width: fit-content;
    }

    @media only screen and (max-width: $bp-smallest) {
      //Display
      flex-wrap: wrap;
      justify-content: center;

      //Spacing
      width: 90vw;
    }

    &Container {
      //Spacing
      padding: 3rem 4rem;
      min-width: 30rem;

      //Font Styling
      white-space: nowrap;

      //Color Styling
      color: white;

      @media only screen and (max-width: $bp-medium) {
        //Display
        align-self: center;

        //Spacing
        width: 95vw;
        margin: 1rem;
        padding: 2rem 4rem;
        min-width: 0;
      }

      @media only screen and (max-width: $bp-smallest) {
        //Spacing
        padding: 1rem;
      }
    }

    &Icon {
      //Display
      display: flex;
      justify-content: center;
      align-items: center;

      //Spacing
      width: 8rem;
      height: 8rem;
      margin: 0 auto 1.4rem;

      //Color Styling
      background-color: $color-accent-dark;

      //Border Styling
      border: 3px solid white;
      border-radius: 50%;
      box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.7);

      @media only screen and (max-width: $bp-medium) {
        //Spacing
        width: 7rem;
        height: 7rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        //Spacing
        width: 6rem;
        height: 6rem;
      }

      & svg {
        //Spacing
        margin: auto;
        width: 5rem;
        height: 5rem;

        //Color Styling
        fill: white;

        @media only screen and (max-width: $bp-medium) {
          //Spacing
          width: 4rem;
          height: 4rem;
        }

        @media only screen and (max-width: $bp-smallest) {
          //Spacing
          width: 3rem;
          height: 3rem;
        }
      }
    }

    &Title {
      font-size: 3.5rem;
      font-weight: 600;
      text-align: center;

      color: white;

      @media only screen and (max-width: $bp-medium) {
        font-size: 3rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        font-size: 2.5rem;
      }
    }

    p {
      text-align: center;
    }
  }



  &Descripton {
    //Display
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    //Spacing
    width: 100vw;
    position: relative;
    z-index: 1;

    //Color Styling
    color: white;

    //Border Styling
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);

    @media only screen and (max-width: $bp-small) {
      //Spacing
      padding: 10rem 0 5rem;
    }

    &Image {
      object-fit: cover;
      overflow: hidden;
      height: 6rem;
    }

    &Container {
      //Display
      display: flex;
      flex-wrap: wrap;

      @media only screen and (max-width: $bp-medium) {
        //Display
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }


    }

    h2 {
      //Spacing
      width: 100vw;
      margin: 0 auto;
      padding: 5rem 4rem;
      z-index: 2;

      //Font Styling
      font-size: clamp(6rem, 10vw, 8rem);
      font-weight: 400;
      text-align: center;
      text-shadow: 2px 2px 1px black;


      @media only screen and (max-width: $bp-large) {
        //Font Styling
        // font-size: 4rem;
      }

      @media only screen and (max-width: $bp-medium) {
        //Spacing
        padding: 0 4rem 6rem;
      }

      @media only screen and (max-width: $bp-small) {
        //Font Styling
        // font-size: 3rem;
      }
    }

    &Item {
      //Spacing
      width: 45vw;
      height: fit-content;
      padding: 3rem;
      margin: 4rem 0 8rem;
      z-index: 2;

      background-color: $color-background;
      box-shadow: 2px 2px 4px black;


      @media only screen and (max-width: $bp-small) {
        //Spacing
        width: 90vw;
        margin-bottom: 5rem;
      }

      h3 {
        position: relative;
        //Spacing
        padding: 2rem 0;

        //Font Styling
        text-align: left;
        font-size: 5rem;
        font-weight: 400;

        @media only screen and (max-width: $bp-medium) {
          //Spacing
          padding: 2rem 0 2rem;

          //Font Styling
          font-size: 2rem;
        }

        &:before {
          content: '';

          //Spacing
          position: absolute;
          width: 30%;
          height: 3px;
          bottom: 10px;
          left: 0;

          //Border Styling
          background-color: $color-accent-light;
        }
      }

      p {
        //Spacing
        margin: 2rem 0;

        //Font Styling
        text-indent: 2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.8;

        @media only screen and (max-width: $bp-medium) {
          //Font Styling
          font-size: 1.6rem;
        }
      }
    }
  }

  &Todo {
    //Spacing
    padding: 10rem 0;
    width: 100%;
    height: fit-content;

    @media only screen and (max-width: $bp-medium) {
      //Spacing
      padding: 4rem 1rem 8rem;
      margin: 0;
    }

    h2 {
      //Spacing
      margin: 1rem auto 5rem;
      width: fit-content;
      position: relative;

      //Font Styling
      text-align: center;
      font-size: 7rem;
      font-weight: 600;

      //Color Styling
      color: white;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;


      @media only screen and (max-width: $bp-medium) {
        //Spacing
        padding: 1rem 3rem;

        //Font Styling
        font-size: 2.8rem;
      }

      &:before {
        content: '';

        //Spacing
        position: absolute;
        width: 80%;
        height: 3px;
        bottom: -10px;
        left: 0;

        //Border Styling
        background-color: $color-accent-light;
      }
    }

    &List {
      //Display
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0.8rem 6rem;

      //Spacing
      padding: 8rem 2rem 4rem;
      margin: 0 auto;
      width: fit-content;

      @media only screen and (max-width: $bp-largest) {
        //Display
        grid-template-columns: 1fr 1fr;

        //Spacing
        padding: 6rem 2rem 1rem;
      }

      @media only screen and (max-width: $bp-medium) {
        //Display
        grid-template-columns: 1fr;
      }

      &Item {
        //Spacing
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        border-radius: 7px;

        //Font Styling
        font-size: 2rem;
        font-weight: 600;

        //Color Styling
        color: white;
      }

      &Error {
        //Spacing
        padding: 4rem 2rem 4rem;
        margin: 0 auto;

        //Font Styling
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
      }

      &Icon {
        //Display
        display: inline-block;

        //Spacing
        width: 1.8rem;
        height: 1.8rem;
        margin: auto 1rem auto 0;

        //Color Styling
        fill: $color-accent-light;
      }
    }
  }

  &Error {
    //Display
    display: block;

    //Spacing
    width: fit-content;
    height: 95vh;
    margin: 0 auto;
    padding-top: 35vh;

    //Font Styling
    font-size: 8rem;
    text-align: center;

    //Color Styling
    color: white;
  }
}