@import 'variables';

.park {
  padding-top: 5rem;
  color: white;

  &Image {
    object-fit: cover;
    z-index: 1;

    &Container {
      position: relative;
      width: 100vw;
      height: 45vh;
      z-index: 1;
    }
  }
  &Name {
    position: relative;

    color: white;
    font-size: 5rem;
    margin: -4rem auto 0;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: $default-box-shadow;
    width: fit-content;
    text-align: center;
    padding: 0.5rem 4rem;
    z-index: 2;
    border-radius: $default-border-radius;

    @media only screen and (max-width: $bp-large) {
      padding: 0.5rem 3rem;
    }
    @media only screen and (max-width: $bp-medium) {
      font-size: 4.8rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      font-size: 3rem;
    }
  }

  &Info {
    width: fit-content;
    display: flex;
    justify-content: space-around;
    margin: 5rem auto;
    font-size: 2rem;
    text-align: center;
    background-image: $color-grey-gradient;
    border-radius: $default-border-radius;
    box-shadow: $default-box-shadow;
    border: 1px solid $color-grey-light;

    @media only screen and (max-width: $bp-large) {
      font-size: 1.6rem;
    }
    @media only screen and (max-width: $bp-medium) {
      font-size: 1.4rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &Container {
      margin: auto 0;
      color: white;
      padding: 3rem 4rem;

      a {
        color: inherit;
        text-decoration: underline;
        text-underline-offset: 3px;
      }

      @media only screen and (max-width: $bp-medium) {
        width: fit-content;
        align-self: center;
        margin: 1rem;
        padding: 2rem 4rem;
      }
      @media only screen and (max-width: $bp-small) {
        padding: 1rem;
      }
    }
  }

  &DetailsContainer {
    display: flex;
    flex-wrap: wrap;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &Descripton {
    color: white;
    margin: 2rem;

    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    &Container {
      width: 45vw;
      padding: 0 4rem 0;

      @media only screen and (max-width: $bp-small) {
        width: 90vw;
      }
      h3 {
        font-size: 2.4rem;
        padding: 3rem 0 0.5rem;

        @media only screen and (max-width: $bp-medium) {
          font-size: 2rem;
        }
      }

      p {
        font-size: 1.8rem;

        text-indent: 2rem;
        line-height: 1.8;
        margin: 1rem 0 2rem;

        @media only screen and (max-width: $bp-medium) {
          font-size: 1.6rem;
        }
      }
    }

    h2 {
      font-size: 5rem;
      padding: 2rem 4rem 4rem;
      text-align: center;
      width: 100vw;
      margin: 0 auto;

      @media only screen and (max-width: $bp-large) {
        font-size: 4rem;
      }
      @media only screen and (max-width: $bp-small) {
        font-size: 3rem;
      }
    }
  }

  &Todo {
    margin: 4rem;
    padding: 2rem 0 10rem;
    width: 100vw;
    height: fit-content;
    @media only screen and (max-width: $bp-medium) {
      padding: 0 1rem 8rem;
      margin: 0;
    }

    h2 {
      padding: 4rem 0 5rem;
      text-align: center;
      width: fit-content;
      margin: 0 auto;

      font-size: 3rem;

      @media only screen and (max-width: $bp-medium) {
        font-size: 2.8rem;
      }
    }

    &List {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1.5rem 6rem;
      padding: 0 2rem 4rem;
      margin: 0 auto;
      width: fit-content;

      @media only screen and (max-width: $bp-largest) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media only screen and (max-width: $bp-large) {
        gap: 0.5rem 6rem;
      }
      @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem 1rem;
      }
      @media only screen and (max-width: $bp-smallest) {
        grid-template-columns: 1fr;
      }

      &Item {
        font-size: 1.6rem;
        width: fit-content;
      }
    }
  }

  &Error {
    display: block;
    padding-top: 10rem;
    font-size: 8rem;
    color: white;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
  }
}
