// ----------------------------------- //
// -----------Color Schemes----------- //
// ----------------------------------- //

$color-accent-light: #aa8b56;
$color-accent: #4e6c50;
$color-accent-dark: #395144;

$color-grey-light: #d6d6d6;
$color-grey: #525252;
$color-grey-dark: #181818;

$color-background: #181818;

$color-grey-gradient: linear-gradient(to bottom right,
  rgba(40, 40, 40, 1),
  rgba(20, 20, 20, 1));

$text-outline-dark: -1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;

$text-outline-white: -1px -1px 0 #fff,
1px -1px 0 #fff,
-1px 1px 0 #fff,
1px 1px 0 #fff;


// --------------------------------- //
// -----------Breakpoints----------- //
// --------------------------------- //

$bp-largest: 112.5em; //1400px
$bp-large: 75em; //1200px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 25em; //400px

// ----------------------------------- //
// --------------Defaults------------- //
// ----------------------------------- //

$default-border-radius: 4px;