// ----------------------------------- //
// -----------Color Schemes----------- //
// ----------------------------------- //

$color-accent-light: #a3b18a;
$color-accent: #588157;
$color-accent-dark: #3a5a40;

$color-grey-light: #d6d6d6;
$color-grey: #525252;
$color-grey-dark: #181818;

$color-background: #dad7cd;

$color-grey-gradient: linear-gradient(
  to bottom right,
  rgba(40, 40, 40, 1),
  rgba(20, 20, 20, 1)
);

// --------------------------------- //
// -----------Breakpoints----------- //
// --------------------------------- //

$bp-largest: 112.5em; //1400px
$bp-large: 75em; //1200px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 25em; //400px

// ----------------------------------- //
// --------------Defaults------------- //
// ----------------------------------- //

$default-border-radius: 12px;
$default-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
$default-box-shadow-hover: 4px 4px 8px rgba(0, 0, 0, 0.9);
