// ----------------------------------- //
// -----------Color Schemes----------- //
// ----------------------------------- //

$color-accent: #aa8b56;
$color-primary: #5d605c;
$color-secondary: #f7f2f7;

$color-background: #181818;

// --------------------------------- //
// -----------Breakpoints----------- //
// --------------------------------- //

$bp-largest: 112.5em; //1400px
$bp-large: 75em; //1200px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 25em; //400px

// ----------------------------------- //
// --------------Defaults------------- //
// ----------------------------------- //

$default-border-radius-sm: 4px;
$default-border-radius-lg: 10px;