@import 'variables';
@mixin badge {
  //Spacing
  width: fit-content;
  margin: auto;
  padding: 0.1rem 1rem;

  //Font Styling
  font-size: 1.8rem;
  font-weight: 600;
  text-shadow: none;

  //Color Styling
  color: white;

  //Border Styling
  border-radius: $default-border-radius;
}
.Warning {
  //Spacing
  margin: 2rem auto;
  padding: 2rem 2rem 1rem;
  width: fit-content;
  max-width: 100rem;
  background-color: $color-accent-dark;
  border-radius: $default-border-radius;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);

  //Font Styling
  text-align: center;
  white-space: normal;

  &_catagory {
    &_closure {
      //Mixin
      @include badge;

      //Color Styling
      background-color: blueviolet;
    }
    &_danger {
      //Mixin
      @include badge;

      //Color Styling
      background-color: darkred;
    }
    &_information {
      //Mixin
      @include badge;

      //Color Styling
      background-color: blue;
    }
    &_caution {
      //Mixin
      @include badge;

      //Color Styling
      background-color: orangered;
    }
  }
  &_title {
    //Spacing
    padding: 1rem 0;
    display: inline-block;

    //Font Styling
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    text-shadow: 1px 1px black;

    @media only screen and (max-width: $bp-medium) {
      //Spacing
      padding: 2rem 0 0.5rem;

      //Font Styling
      font-size: 2rem;
    }
  }
  &_description {
    //Font Styling
    font-size: 2rem;
    font-weight: 400;
    text-shadow: none;
  }
}
